<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.powerflowappp1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Functions7buses"></activity>
        <activity android:name=".Functions6buses" />
        <activity android:name=".Functions5buses" />
        <activity android:name=".Functions4buses" />
        <activity android:name=".Functions3buses" />
        <activity android:name=".Input_7buses" />
        <activity android:name=".Input_6buses" />
        <activity android:name=".Input_5buses" />
        <activity android:name=".Input_4buses" />
        <activity android:name=".Input_3buses" />
        <activity android:name=".Part4_1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>